<% if @error %>
  <div class="error_message"><%= @error %></div>
<% end %>

<form action="/users/find" method="post">
  @<input type="text" name="handle" placeholder="handle">
  <button type="submit" class="btn btn-info">Find User</button>
</form>
<div>
  <ul>
  <% @users.each do |user|%>
  <li> <a href="/users/<%=user.id%>">@<%=user.handle%></a></li>
  <%end%>
  </ul>
</div>
