
    <% if current_user && current_user.id != @user.id %>
  <%=tweet.favorites.length%> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
  <form action = "/tweets/<%=tweet.id%>/favorite" method="post">
      <button type="submit" class="btn btn-warning"> <%= is_not_favorited?(tweet) ? 'Like!!': 'Unlike'%></button>
    </form>
    <%end%>
