<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <a href="/">home page</a>
  <div class="nav_links">
    <% if logged_in? %>
      <a href="/users/<%= current_user.id %>">my profile</a> 
      <a href="/tweets/new">new tweet</a> 
      <form action="/sessions/logout" method="post" >
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="logout">
      </form>
    <% else %>
      <a href="/sessions/new">Log in</a>
      <a href="/users/new">Sign up</a>
    <%end%>
  </div>

  <%= yield %>
</body>
</html>
