<div class="container">

  <h1>Welcome to Twitter Jr.</h1>
  <h2>Would you like to make an account?</h2>


  <div class="errors">
    <% if @user.errors %>
    <%=@user.errors.full_messages.to_sentence %>
    <% end %>
  </div>

  <form action="/users" method="post">
    <div><label>Name</label>
      <input type="text" name="user[name]" /></div>
      <div><label>Handle</label>
        <input type="text" name="user[handle]" /></div>
        <div><label>Email</label>
          <input type="email" name="user[email]" /></div>
          <div><label>Password</label>
            <input type="password" name="user[password]" /></div>
            <input type="submit" value="sign up, Bitches!" />
          </form>


        </div>
